<div *ngIf="user">
	<h2>{{user.first_name | uppercase}} {{user.last_name | uppercase}} Details</h2>
	<div><span>id: </span>{{user.id}}</div>
	<div>
	  <label>first name:
		<input [(ngModel)]="user.first_name" placeholder="first_name"/>
	  </label>
	</div>
	<div>
	  <label>last name:
		<input [(ngModel)]="user.last_name" placeholder="last_name"/>
	  </label>
	</div>
	<div>  
	  <label>email:
		<input [(ngModel)]="user.email" placeholder="email"/>
	  </label>
	</div>
	<div>
	  <label>avatar:
		<input [(ngModel)]="user.avatar" placeholder="avatar"/>
	  </label>
	</div>
	<div>
	  <img src={{user.avatar}} alt={{user.avatar}}>
	</div>
	<div>
		<button (click)="save()">save</button>
	</div>
	<div>
		<button (click)="delete()">delete</button>
	</div>
	<div>
		<button (click)="goBack()">go back</button>
	</div>
</div>